<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}" />
    <title>Django Generator</title>
  </head>
  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <span>Password Generator</span>
      <div class='link'>
        <!-- <a class='button button-home' href={% url 'home' %}>HOME</a> -->
        <a class='button' href={% url 'home' %}>HOME</a>
      </div>
    </nav>
      <header class="profile">
        <div>
          This app is produced by
          <strong>{{author}}</strong>
        </div>
        <div>
          Powered by Django @3.2.4  
        </div>
      </header>
    <div> 
      <p>
        Hey! 
        My name is Ali. 
        <br >
        I like coding,
            which is what I do
            in Toronto, ON. 
            <br >
            This is my first Django project. 
            <br >
            Please check my portfolio in 
            <a target="_blank" rel="noopener noreferrer" href='http://www.alibas.ca'>www.alibas.ca</a>
      </p>
    </div>
  </body>
</html>