<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}" />
    <title>Django Generator</title>
  </head>
  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <span>Password Generator</span>
    </nav>
    <section class="horizantal">
      <header class="profile">
        This app is produced by
        <br />
        <div><strong>{{author}}</strong></div>
        <br />
        Powered by Django @3.2.4
      </header>

      <!-- Page-specific (main) content here -->
      <label>Options</label>
      <form id="optform" action="{% url 'output' %}">
        <select name="length">
          <option value="5">5 character</option>
          <option value="6">6 character</option>
          <option value="7">7 character</option>
          <option value="8">8 character</option>
          <option value="9" selected="selected">9 character</option>
          <option value="10">10 character</option>
          <option value="11">11 character</option>
          <option value="12">12 character</option>
          <option value="13">13 character</option>
          <option value="14">14 character</option>
          <option value="15">15 character</option>
          <option value="16">16 character</option>
          <option value="17">17 character</option>
          <option value="18">18 character</option>
        </select>
        <br />
        <input type="checkbox" name="uppercase" /> Uppercase
        <br />
        <input type="checkbox" name="numbers" /> Numbers
        <br />
        <input type="checkbox" name="special" /> Special Characters
        <br />
        <input value="Generate Password" type="submit" />
        <br />

        <!-- <button type="submit" method="POST" action="/pass/">Generate Pass</button> -->
        <!-- <output name="summary" class="counter" for="tweet-text">140</output> -->
      </form>
    </section>
  </body>
</html>
