<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}" />
    <title>Django Generator</title>
  </head>
  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <span>Password Generator</span>
    </nav>
    <section class="horizantal">
      <header class="profile">
        This app is produced by
        <br />
        <div><strong>{{author}}</strong></div>
        <br />
        Powered by Django @3.2.4
      </header>

      <h1>Your Password is:</h1>
      <output>{{password}}</output>
    </section>
  </body>
</html>
