<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <title>Django Generator</title>
  </head>
  <body>
    <!-- Top nav bar (fixed) -->
    <nav>
      <span>Password Generator</span>
      <div class='link'>
        <a class='button button-home' href={% url 'home' %}>HOME</a>
        <a class='button' href={% url 'about' %}>ABOUT</a>
      </div>
    </nav>
    <header class="profile">
      <div>
        This app is produced by
        <strong>{{author}}</strong>
      </div>
      <div>
        Powered by Django @3.2.4  
      </div>
    </header>
    <section class="horizantal">
      <!-- <header class="profile">
        This app is produced by
        <br />
        <div><strong>{{author}}</strong></div>
        Powered by Django @3.2.4
      </header> -->

      <h1>Your Password is:</h1>
      <output>
        <h3>{{password}}</h3>
      </output>
      <h6>Your reference string is: {{reference}}</h6>
    </section>
  </body>
</html>
