nav {
  /* display: flex;
  justify-content: space-between; */
  /* height: 100px;
  width: 90%; */
  /* background-color: #4056a1; */
  /* padding: 1em 1em 1em 1em;
  position: absolute; */
}

span {
  font-family: sans-serif;
  color: #ffffff;
  align-self: flex-start;
}
